<nav class="navbar navbar-inverse" th:fragment="header-main">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="#"><img src="/logo/ibcs-primax.png"/></a>-->
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <!--<ul class="nav navbar-nav">-->
                <!--<li class="active"><a href="#">Home</a></li>-->
                <!--<li><a href="#">About</a></li>-->
                <!--<li><a href="#">Projects</a></li>-->
                <!--<li><a href="#">Contact</a></li>-->
            <!--</ul>-->
            <!--<ul class="nav navbar-nav navbar-right">-->
            <!--<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>-->
            <!--</ul>-->
        </div>
    </div>
</nav>