<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!--<script th:src="@{/css/bootstrap.css}"></script>-->
    <link rel="stylesheet" th:href="@{/css/mycss.css}"/>
    <script th:src="@{/js/validation.js}"></script>
</head>
<body>

<div th:replace="header/header :: header-main"/>

<div class="container-fluid text-center">
    <div class="row content">
        <div th:replace="navigation/admin-nav :: admin-navi"/>
        <div class="col-sm-8 text-left">
            <!--<div th:replace="employee/create :: employee-form"/>-->
            <div th:fragment="employee-form">
                <h2>Employee Information</h2>
                <form class="form-horizontal" name="employeeForm" th:action="@{/employee/save}" method="post">
                    <input type="hidden" name="id" th:value="${employee?.id}"/>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="empName">Employee Name</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="empName" th:value="${employee?.empName}" onkeypress="return nameValidation(event)" placeholder="Enter employee name" name="empName" required="required"/>
                            <span id="emp_name_error" style="color: red"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="rank">Grade</label>
                        <div class="col-sm-4">
                            <select class="form-control" id="rank" name="rank" required="required">
                                <option th:if="${employee == null}" th:value="${''}">Select grade</option>
                                <option th:if="${employee != null}" th:value="${employee?.rank}" th:text="${'Grade '+employee?.rank}"></option>
                                <option th:if="${employee?.rank} != 1" th:value="${1}">Grade 1</option>
                                <option th:if="${employee?.rank} != 2" th:value="${2}">Grade 2</option>
                                <option th:if="${employee?.rank} != 3" th:value="${3}">Grade 3</option>
                                <option th:if="${employee?.rank} != 4" th:value="${4}">Grade 4</option>
                                <option th:if="${employee?.rank} != 5" th:value="${5}">Grade 5</option>
                                <option th:if="${employee?.rank} != 6" th:value="${6}">Grade 6</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="address">Address</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="address" th:value="${employee?.address}" placeholder="Enter address" name="address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="mobile">Mobile Number</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="mobile" th:value="${employee?.mobile}" placeholder="Enter mobile number" name="mobile" onkeypress="return mobileNoValidation('mobile')" required="required"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="footer/footer :: footer-main"/>


</body>
</html>
