<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employee List</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!--<script th:src="@{/css/bootstrap.css}"></script>-->
    <link rel="stylesheet" th:href="@{/css/mycss.css}"/>
</head>
<body>

<div th:replace="header/header :: header-main"/>

<div class="container-fluid text-center">
    <div class="row content">
        <div th:replace="navigation/admin-nav :: admin-navi"/>
        <div class="col-sm-8 text-left">
            <div>
                <div>
                    <h2>Employee List <span class="pull-right"><a th:href="@{/employee/create}" class="btn btn-success pull-right">Add</a></span></h2>

                </div>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>SL</th>
                        <th>Employee name</th>
                        <th>Employee Id</th>
                        <th>Mobile</th>
                        <th>Rank</th>
                        <th>Address</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="emp, stat : ${employees}">
                        <td th:text="${stat?.index+1}"></td>
                        <td th:text="${emp?.empName}"></td>
                        <td th:text="${emp?.empID}">Doe</td>
                        <td th:text="${emp?.mobile}"></td>
                        <td th:text="${emp?.rank}"></td>
                        <td th:text="${emp?.address}"></td>
                        <td>
                            <a class="btn btn-success btn-xs" th:href="@{/employee/update(empId=${emp?.id})}"><i class="fa fa-edit"></i>Edit</a>
                            <a th:if="${emp?.bankAccount?.id == null}" class="btn btn-success btn-xs" th:href="@{/bank/account/create(empId=${emp?.id})}"><i class="fa fa-edit"></i>Add bank a/c</a>
                            <a th:if="${emp?.bankAccount?.id != null}" class="btn btn-success btn-xs" th:href="@{/bank/account/update(accId=${emp?.bankAccount?.id})}"><i class="fa fa-edit"></i>Update bank a/c</a>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
<div th:replace="footer/footer :: footer-main"/>


</body>
</html>
