<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Basic Salary</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!--<script th:src="@{/css/bootstrap.css}"></script>-->
    <link rel="stylesheet" th:href="@{/css/mycss.css}"/>
    <script th:src="@{/js/validation.js}"></script>
    <script th:src="@{/js/basicSalary.js}"></script>
</head>
<body>

<div th:replace="header/header :: header-main"/>

<div class="container-fluid text-center">
    <div class="row content">
        <div th:replace="navigation/admin-nav :: admin-navi"/>
        <div class="col-sm-8 text-left">
            <!--<div th:replace="employee/create :: employee-form"/>-->
            <div>
                <h2>Add basic salary lowest grade</h2>
                <form>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="basicSalary">Add Basic Salary</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" th:value="${basicSalary?.amount}" id="basicSalary" onkeypress="return numberValidation(event)"/>

                        </div>
                    </div>
                </form>
                <div class="form-group" style="margin-top: 50px">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary" onclick="addBasicSalary()">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="footer/footer :: footer-main"/>


</body>
</html>
