<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bank Account</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!--<script th:src="@{/css/bootstrap.css}"></script>-->
    <link rel="stylesheet" th:href="@{/css/mycss.css}"/>
</head>
<body>

<div th:replace="header/header :: header-main"/>

<div class="container-fluid text-center">
    <div class="row content">
        <div th:replace="navigation/admin-nav :: admin-navi"/>
        <div class="col-sm-8 text-left">
            <!--<div th:replace="employee/create :: employee-form"/>-->
            <div>
                <h2>Account Information</h2>
                <form class="form-horizontal" th:action="@{/bank/account/save}" method="post">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="accountType">Account Type</label>
                        <div class="col-sm-4">
                            <select class="form-control" id="accountType" name="accountType">
                                <option th:value="${''}">Choose account type</option>
                                <option th:value="${'savings'}">Savings</option>
                                <option th:value="${'current'}">Current</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="accountName">Account Name</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="accountName" th:value="${employee?.empName}" name="accountName" readonly="readonly"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="accountNumber">Account number</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="accountNumber" placeholder="Enter account number" name="accountNumber">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="bankName">Bank name</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="bankName" placeholder="Enter bank name" name="bankName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="branchName">Branch name</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="branchName" placeholder="Enter bank account number" name="branchName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Employee name</label>
                        <div class="col-sm-4">
                            <input type="hidden" class="form-control" th:value="${employee?.id}" name="employee.id">
                            <input type="text" th:value="${employee?.empName}" class="form-control" readonly="readonly"/>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="footer/footer :: footer-main"/>


</body>
</html>
