<div class="col-sm-2 sidenav" th:fragment="admin-navi">
    <p><a class="btn btn-success" href="/employee/list">Employee List</a></p>
    <!--<p><a href="/bank/account/create">Bank Account</a></p>-->
    <p><a class="btn btn-success" href="/add/basic/salary">Add basic salary</a></p>
    <p><a class="btn btn-success" href="/company/bank/account/create">Add Company bank amount</a></p>
</div>