<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!--<script th:src="@{/css/bootstrap.css}"></script>-->
    <link rel="stylesheet" th:href="@{/css/mycss.css}"/>
</head>
<body>

<div th:replace="header/header :: header-main"/>

<div class="container-fluid text-center">
    <div class="row content">
        <div th:replace="navigation/admin-nav :: admin-navi"/>
        <div class="col-sm-8 text-left">
            <!--<div th:replace="employee/create :: employee-form"/>-->

        </div>
    </div>
</div>
<div th:replace="footer/footer :: footer-main"/>


</body>
</html>
